@import url('https://fonts.googleapis.com/css2?family=noto&family=noto:ital,wght@0,900;1,900&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=noto&family=noto:ital,wght@0,900;1,900&family=Metal+Mania&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=noto&family=Berkshire+Swash&family=noto:ital,wght@0,900;1,900&family=Metal+Mania&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=noto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 0%;
    margin: 0;
    cursor: default;


}
/* Disable text selection for the entire page */
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


html {  
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;

}

.bg_main {
    /* background: ; */
    background-image: linear-gradient(to bottom left, #E72B2B, #FF5BB3, #E443C6, #9F07F5, #FF804A);
}

.bg_main1 {
    /* background: ; */
    background-image: linear-gradient(to bottom left, #E72B2B, #FF5BB3, #E443C6, #9F07F5, #FF804A);
    backface-visibility: 50%;
}

.bg_main2{
    background: url("/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.text_main {
    background-color: #FF5BB3;
    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
    background-image: linear-gradient(to bottom left, #E72B2B, #FF5BB3, #9B03F8, #FF804A);
    background-position: top;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
   
}

.text-shadow {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.8);
  }
.text-shadow2 {
    text-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.8);
  }


.bg_button1 {
    background-image: linear-gradient(to bottom left, #FF5BB3, #9B03F8);
}



.bg_border {
    border-image: linear-gradient(to right, #E72B2B, #FF5BB3, #9B03F8, #FF804A);
}
.bg_border1 {
    border-image: linear-gradient(to left, #FF5BB3, #9B03F8);
}
.bg7-image {
    background-image: url('/bg7.jpg');
     /* Adjust size as needed */
}


body::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: #fff;
}


body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 500px;
}
.create_text::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: #000;
}

.create_text::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 500px;
}
.feeds::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: none;
}

.feeds::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 500px;
}
.sidecart::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: none;
}

.sidecart::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 500px;
}

/* *::selection {
    background-color: #FF5BB3;
    color: #9B03F8;
    
  } */


  .cursor {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 50%;
    filter: blur(2px);
    position: fixed;
    z-index: 100;
    transition: all ease 0.1s;
  
  
  }
  
  .cursor-b {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(to bottom, #FF5BB3, #9B03F8);
    border-radius: 50%;
    position: fixed;
    opacity: 40%;
    filter: blur(40px);
    z-index: -2;
    transition: all linear 0.4s;
  }

 



  .glassmorphism {
    @apply rounded-xl  bg-transparent shadow-[inset_0px_2220px_50px_0_rgb(0,0,0,0.3)] backdrop-blur p-5;
  }
  .glassmorphism1 {
    @apply rounded-full  bg-transparent shadow-[inset_0px_2220px_50px_0_rgb(0,0,0,0.3)] backdrop-blur p-5;
  }

  